name: CI

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  check-conventional-commit-naming:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: webiny/action-conventional-commits@v1.0.3